@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?px8jg8');
  src:  url('../../fonts/icomoon.eot?px8jg8#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?px8jg8') format('truetype'),
    url('../../fonts/icomoon.woff?px8jg8') format('woff'),
    url('../../fonts/icomoon.svg?px8jg8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook-square:before {
    content: "\e900";
  }
  .icon-linkedin-square:before {
    content: "\e901";
  }
  .icon-email:before {
    content: "\e902";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-arrow-down2:before {
    content: "\ea3e";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-github:before {
    content: "\eab0";
  }
  