.footer {
    background-color: $black;

    &__left ul,
    &__right ul {
        li:not(:last-child) {
            margin-bottom: .5rem;
        } 

        a {
            @include inline-flex;
            align-items: center;
            color: $white700;
            @include transition;

            &:hover {
                color: $white;
            }
        }
    }

    &__left {
        @include small {
            margin-bottom: 2rem;
        }

        .fullname {
            font-weight: 700;
            line-height: 150%;
            color: $white;
            margin-bottom: .5rem;
        }

        > p {
            font-size: 1.125rem;
            color: $white700;
            margin-bottom: 1.5rem;
        }

        > ul {
            li {
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }                
            }
            
            a {


                span {
                    margin-left: .5rem;
                }
            }
        }
    }

    &__right {
        h6 {
            color: $white;
            margin-bottom: 1rem;
            line-height: 2.25rem;
            text-transform: uppercase;
        }    
    }

    &__bottom {
        color: $white;
        padding: 1rem 0;
        border-top: 1px solid #444;
        text-align: end;
        @include small {
            text-align: center;
        }
    }
}