.header {
    position: relative;

    .scroll {
        position: absolute;
        bottom: 10%;
        left: 50%;
        @include transform(translateX(-50%));
        @include flex;
        flex-direction: column;
        align-items: center;
        color: $white;

        i {
            font-size: 2rem;
        }

        span {
            display: inline-block;
            padding-top: 1rem;
        }
    }
}