@import '../scss/abstracts/variables';
@import '../scss/base/iconfont';
@import '../scss/abstracts/mixins';
@import '../scss/base/reset';
@import '../scss/abstracts/predefine';
@import '../scss/abstracts/utilities';
@import '../scss/base/buttons';

@import '../scss/components/sidemenu';

@import '../scss/layout/header';
@import '../scss/layout/navbar';
@import '../scss/layout/footer';

@import '../scss/sections/hero';
@import '../scss/sections/portfolio';

@import '../scss/pages/about';


